{% extends 'base.html' %}

{% block title %}
{% if user.is_authenticated %}
<div class="h1">MyPage</div>
{% else %}
<div class="h1">Main</div>
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="h2">Welcome {{ user.username }}</div>

<form action="{% url 'app:logout' %}" method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Logout</button>
</form>
{% else %}
<a href="{% url 'app:signup' %}" class="btn btn-primary">Signup</a>
<a href="{% url 'app:login' %}" class="btn btn-primary">Login</a>
{% endif %}
{% endblock %}
